.idea
*.pem
*.ppk
*.tfstate
*.tfstate.backup
.terraform/
.terraform.tfstate.lock.info
**/*/*.tfstate
**/*/packer.log
**/*/terragrunt.hcl
**/*/*.tfstate.backup
**/*/.terraform/
**/*/config_map_aws_auth.yaml
**/*/config

service/*/terraform.tfvars

**/*/k8_config*
**/*/k8_resourcequota*
**/*/k8_service*
